@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

.title {
  text-align: center;
  padding: 20px;
  color: #9f0f17;
  font-size: 1.5vw;
  font-family: 'Faster One', cursive;
}

.container {
  position: relative;
  width: 32vw;
  height: 32vw;
  margin: 1.5vw auto;
}

.inner {
  float: left;
  width: 16vw;
  height: 16vw;
}

.top-left {
  border-radius: 100% 0 0 0;
  border-left: 1vw solid #000;
  border-top: 1vw solid #000;
  border-right: 0.5vw solid #000;
  border-bottom: 0.5vw solid #000;
}

.top-right {
  border-radius: 0 100% 0 0;
  border-left: 0.5vw solid #000;
  border-top: 1vw solid #000;
  border-right: 1vw solid #000;
  border-bottom: 0.5vw solid #000;
}

.bottom-left {
  border-radius: 0 0 0 100%;
  border-left: 1vw solid #000;
  border-top: 0.5vw solid #000;
  border-right: 0.5vw solid #000;
  border-bottom: 1vw solid #000;
}

.bottom-right {
  border-radius: 0 0 100% 0;
  border-left: 0.5vw solid #000;
  border-top: 0.5vw solid #000;
  border-right: 1vw solid #000;
  border-bottom: 1vw solid #000;
}

.game-panel {
  position: absolute;
  top: 8vw;
  left: 8vw;
  background-color: #ddd;
  width: 16vw;
  height: 16vw;
  border-radius: 100%;
  border: 0.5vw solid #000;
}

.game-panel-top {
  display: flex;
  justify-content: center;
  width: 16vw;
  height: 8vw;
  border: 2px solid red;
}

.game-panel-counter {
  text-align: center;
  font-size: 6vw;
  font-family: 'Roboto Mono', monospace;
  width: 8vw;
  height: 8vw;
  border: 2px solid blue;
}

.game-panel-bottom {
  display: flex;
  width: 16vw;
  height: 6vw;
  border: 2px solid yellow;
}

.game-panel-start, .game-panel-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 6vw;
  border: 2px solid #000;
}

.game-panel-start button {
  font-size: 1.3em;
  background-color: lightblue;
  padding: 0.5em;
  margin-left: 30px;
  border-radius: 50%;
}

.material-icons.md-48 {
  font-size: 48px;
  color: #666;
  margin-right: 40px;
}


@media only screen and (max-width:1200px) {
  /* For mobile phones: */
  .container {
    width: 60vw;
    height: 60vw;
  }

  .inner {
    width: 30vw;
    height: 30vw;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .container {
    width: 100vw;
    height: 100vw;
  }

  .inner {
    width: 50vw;
    height: 50vw;
  }
}
