<!-- Author: Richard Myatt
     Date: 10 May 2018

     Simon Says Game.  An exercise for freecodecamp.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/simon_game.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simon Says</title>
</head>
<body>

  <!-- give our application a title -->
  <div class="title">
    <h1>Simon Says</h1>
  </div>

  <!-- set up the Vue application -->
  <div id="simon-app" class="container">
    <!-- display the four light pads with default background colours -->
    <light-pad :bg="bg1"
               class="top-left inner"
               @user="userActivatePad(1)">
               </light-pad>
    <light-pad :bg="bg2"
               class="top-right inner"
               @user="userActivatePad(2)">
               </light-pad>
    <light-pad :bg="bg3"
               class="bottom-left inner"
               @user="userActivatePad(3)">
               </light-pad>
    <light-pad :bg="bg4"
               class="bottom-right inner"
               @user="userActivatePad(4)">
               </light-pad>


    <!-- display the central game panel -->
    <div class="game-panel">
      <div class="game-panel-top">
        <div class="game-panel-counter" :class="{red: error, green: success}"><span>{{ counter }}</span></div>
      </div>
      <div class="game-panel-bottom">
        <div class="game-panel-start">
          <button class="start-button" :class="{btnlightblue: btnblue, btnred: btnred}" @click="startResetGame">{{ state }}</button>
        </div>
        <div class="game-panel-settings">
          <i class="material-icons md-48" @click="showSettings">settings</i>
        </div>
      </div>
    </div>


    <!-- prepare the custom modal for settings -->
    <modal v-if="showModal"
          @close="showModal = false">

     <!-- enter custom header in slot named 'header' -->
     <h2 slot="header">Simon Says</h2>

     <!-- enter custom content here in slot named 'body' -->
     <div slot="body">
       <h4>Settings</h4>
       <hr><br>
       <h5>Levels</h5>
       <br>
       <input type="radio" id="easy" value="5" v-model="level">
       <label for="easy">  5</label>
       <br>
       <input type="radio" id="harder" value="10" v-model="level">
       <label for="harder"> 10</label>
       <br>
       <input type="radio" id="hard" value="20" v-model="level">
       <label for="hard"> 20</label>
       <br>
       <hr><br>
       <h5>Mode</h5>
       <br>
       <input type="checkbox" id="strict" value="false" v-model="strict">
       <label for="strict"> Strict</label>
      </div>

     <!-- enter custom footer in slot named 'footer' -->
     <h3 slot="footer"></h3>

   </modal>


 </div><!-- Vue application closed -->


  <!-- template for a light pad -->
  <template id="light-pad" >
      <div :style="{ backgroundColor: bg }"
           @click="$emit('user')"
      ></div>
  </template>


  <!-- template for modal -->
  <template id="modal">

    <!-- wrap in transition tags to allow animation -->
    <transition name="modal">

      <!-- outer mask -->
      <div class="modal-mask">

          <!-- the pop-up -->
          <div class="modal-container">

            <!-- modal header -->
            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>

            <!-- modal body -->
            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>

            <!-- modal footer and button -->
            <div class="modal-footer">
              <div class="modal-footer-slot">
                <slot name="footer">
                  default footer
                </slot>

                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </div>


            </div>

          </div>

        </div>

    </transition>
  </template>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/simon_game.js"></script>

</body>
</html>
