<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Using checkboxes in Vue.js</title>
</head>
<body>

  <div id='app'>
    <checkbox-comp></checkbox-comp>
    {{ $data }}
  </div>

  <template id="box">
    <div>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" @change="procData($event.target.value)">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>

    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/checkbox.js"></script>

</body>
</html>
